html, body {
  height: 100%;
  width: 100%;
}
#firstPhoto{
  width: 100%;
  height: 100vh;
  z-index: -1;
  position: absolute;
}
#logo{
  position: relative;
  background-color: white;
  max-width: 7rem;
  height: auto;
}
#title{
  color: white;
  position: relative;
}
#slogan{
  color: white;
  position: relative;
}